<div class="ventana">
    <app-nav-bar></app-nav-bar>
    <div class="profile">
        <div class="profile-panel">
            <div class="edit-profile">
                <img src="../../assets/logo-8.png" alt="Descripción de la imagen">
                <p>Editar perfil</p>
            </div>
            <img src="../../assets/logo.png" alt="Descripción de la imagen">

            <h2>Nombre usuario</h2>
            <h5>Nombre completo persona</h5>


        </div>
        <div class="statistics">
            <h2>Estadísticas</h2>
            <div class="statistics-top">
                <div>
                    <app-bar-chart></app-bar-chart>
                  </div>
                  <div>
                    <app-line-chart></app-line-chart>
                  </div>
            </div>
            <div class="chart-container">
                <app-pie-chart></app-pie-chart>
            </div>
        </div>
    </div>
</div>