.word-list-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

h2{
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.word-list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
  font-weight: bold;
}

.header-item {
  flex: 1;
  text-align: center;
}

.word-list {
  margin-top: 10px;
}

.word-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 15px;
}

.item-content {
  flex: 1;
  text-align: center;
}

.card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.word-list-item card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.search-bar {
  padding: 0.75rem 3rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search span{
  position: absolute;
  /* Position the span absolutely within the pass div */
  left: 1rem;
  /* Position the icon at the right edge */
  transform: translateY(-50%);
  transform: rotate(90deg);
  /* Adjust vertical positioning for centering */
  cursor: pointer;
}

.combobox {
  padding: 10px;
  margin: 10px 0;
  width: 15rem;
  box-sizing: border-box;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 16px;
  cursor: pointer;
}

.chip:hover {
  background-color: #c0c0c0;
}

mat-slider {
  width: 15rem;
}

.date-filter {
  display: flex;
  flex-direction: column;
}

.date-input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Ajusta el espacio entre los campos si es necesario */
}

.date-input-container label {
  width: 100px; /* Ajusta este valor según tus necesidades */
  text-align: left;
  margin-right: 10px;
}

.date-input-container input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 0.25rem;
  border-radius: 5px;
}

.date-input-container input:focus {
  border-color: #66afe9; /* Color del borde al enfocar */
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5); /* Sombra al enfocar */
  outline: none;
}

.filter-container {
  position: relative;
}

.filter-options-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 1rem;
}

.filter-options-toggle {
  cursor: pointer;
  color: #12bbb8;
  margin-bottom: 1rem;
}

.filter-clear button{
  display: block;
  width: 100%;
  padding: 0.35rem;
  margin: 0;
  border-radius: 4px;
  border: none;
  background-color: #12bbb8;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.filter-clear button:hover{
  background-color: #0c918e;

}

.filter-options-bar.show-clear-filters .clear-filters {
  display: inline-block;
}

/* Aplica estilos al encabezado de la tabla */
.tabla th {
  background-color: #eef5f9;
  padding: 10px;
  border-radius: 5px;
}

.encabezado {
  justify-content: center;
  text-align: center;
  align-items: center;
}

th {
  text-align: center;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  /* Colapsa los bordes de la tabla */
  margin-top: 1rem;
}

/* Aplica estilos a cada fila de la tabla */
.tabla tr {
  width: 100%;
}

/* la columna de traducciones ocupe más espacio */
.tabla th:last-child,
.tabla td:last-child {
  width: 50%;
}

.tabla th:not(:last-child),
.tabla td:not(:last-child) {
  width: 16.5%;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* Agrega bordes a las celdas de la tabla */
.tabla th,
.tabla td {
  border: 1px solid #ddd;
  text-align: center;
}

/* Estilo adicional para las filas */
.tabla tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla tr:hover {
  background-color: #f1f1f1;
}

.no-words-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según tus necesidades */
}

:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  padding-left: 1.2rem;
}

.nUsadas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.nIntentos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.nUsadas label,
.nIntentos label{
  margin-right: 0.25rem;
}

.nUsadas input,
.nIntentos input{
  display: block;
  width: 5rem;
  padding: 0.25rem 0 0.25rem 1rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.translations-list {
  list-style-position: inside; /* Mueve las bolas de la lista a dentro del contenedor de lista */
  text-align: left; /* Alinea el texto a la izquierda */
}

.translations-list li {
  padding-left: 0; /* Elimina el padding a la izquierda de los elementos li */
  margin-bottom: 0;
}
