<app-nav-bar></app-nav-bar>

<!-- 
También hay que discernir entre la gráfica que se ha clicado, porque dependiendo de si es una u otra, van a salir unos datos de la palabra u otros.
- Si viene de bar-chart: nombre, número de veces usada y traducción.
- Si viene de pie-chart: nombre, isAdivinada, traducción
- Si viene de line-chart: nombre, isGuessed, nAttempt, Date y traduccion -->

<div class="word-list-container">
  <div class="word-list-header">
    <div *ngIf="source === 'bar-chart'" class="card-body">
      <span class="header-item">Words</span>
      <span class="header-item">n Veces</span>
      <span class="header-item">Translation</span>
    </div>
    <div *ngIf="source === 'line-chart'" class="card-body">
      <span class="header-item">Words</span>
      <span class="header-item">isGuessed</span>
      <span class="header-item">n Attempts</span>
      <span class="header-item">Date</span>
      <span class="header-item">Translation</span>
    </div>
    <div *ngIf="source === 'pie-chart'" class="card-body">
      <span class="header-item">Words</span>
      <span class="header-item">isGuessed</span>
      <span class="header-item">Translation</span>
    </div>
  </div>
  <div class="word-list">
    <div class="word-list-item card" *ngFor="let word of words">
      <div *ngIf="source === 'bar-chart'" class="card-body">
        <span class="item-content">{{ word.name }}</span>
        <span class="item-content">{{ word.nVeces }}</span>
        <div>Traduction</div>
      </div>
      <div *ngIf="source === 'line-chart'" class="card-body">
        <span class="item-content">{{ word.name }}</span>
        <span class="item-content">{{ word.isGuessed }}</span>
        <span class="item-content">{{ word.nAttempt }}</span>
        <span class="item-content">{{ word.date }}</span>
        <div>Traduction</div>
      </div>
      <div *ngIf="source === 'pie-chart'" class="card-body">
        <span class="item-content">{{ word.name }}</span>
        <span class="item-content">{{ word.isGuessed }}</span>
        <div>Traduction</div>
      </div>
    </div>
  </div>
</div>