.word-list-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.word-list-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.word-list-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ccc;
  font-weight: bold;
}

.header-item {
  flex: 1;
  text-align: center;
}

.word-list {
  margin-top: 10px;
}

.word-list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 15px;
}

.item-content {
  flex: 1;
  text-align: center;
}

.card-body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word-list-item card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-bar {
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.combobox {
  padding: 10px;
  margin: 10px 0;
  width: 15rem;
  box-sizing: border-box;
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.chip {
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 16px;
  cursor: pointer;
}

.chip:hover {
  background-color: #c0c0c0;
}

mat-slider {
  width: 15rem;
}

.date-filter {
  display: flex;
  flex-direction: column;
}

.filter-container {
  position: relative;
}

.filter-options-bar {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.filter-options-toggle {
  cursor: pointer;
  color: blue;
  margin-right: 10px;
}

.clear-filters {
  display: none;
}

.filter-options-bar.show-clear-filters .clear-filters {
  display: inline-block;
}

/* Aplica estilos al encabezado de la tabla */
.tabla th {
  background-color: #eef5f9;
  padding: 10px;
  text-align: center !important;
  /* Asegura que el texto se centre */
  align-items: center;
  border-radius: 5px;
}

.encabezado {
  justify-content: center;
  text-align: center;
  align-items: center;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  /* Colapsa los bordes de la tabla */
  margin-top: 1rem;
}

/* Aplica estilos a cada fila de la tabla */
.tabla tr {
  width: 100%;
}

/* la columna de traducciones ocupe más espacio */
.tabla th:last-child,
.tabla td:last-child {
  width: 50%;
}

.tabla th:not(:last-child),
.tabla td:not(:last-child) {
  width: 15%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* Agrega bordes a las celdas de la tabla */
.tabla th,
.tabla td {
  border: 1px solid #ddd;
}

/* Estilo adicional para las filas */
.tabla tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla tr:hover {
  background-color: #f1f1f1;
}

.no-words-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Ajusta la altura según tus necesidades */
}
