<p>tablero works!</p>

<div (click)="activarEntrada()" (keydown.backspace)="borrarLetra()" (keydown.enter)="recogerEnter()" (keypress)="recogerLetra($event)" class="contenedor-tablero" tabindex="0">
    <div class="tablero">
        <div *ngFor="let fila of filas; let i=index" class="fila">
            <div *ngFor="let letra of fila; let j=index" class="elemento" [ngClass]="aplicarColores(i,j)">
                {{ letra }}
            </div>
        </div>
    </div>
</div>

<app-popup *ngIf="palabraAdivinada"></app-popup>
