<app-nav-bar></app-nav-bar>
<div  (keydown.backspace)="borrarLetra()" 
     (keydown.enter)="recogerEnter()" (keypress)="recogerLetra($event)" 
     class="contenedor-tablero" tabindex="0">
    <div class="tablero animate__animated animate__slideInUp">
        <div *ngFor="let fila of filas; let i=index" class="fila">
            <div *ngFor="let letra of fila; let j=index" class="elemento" [ngClass]="aplicarColores(i,j)">
                {{ letra }}
            </div>
        </div>
    </div>

    <div class="teclado animate__animated animate__slideInUp">
        <div class="fila-teclado" *ngFor="let fila of teclado">
            <button *ngFor="let tecla of fila" class="tecla" [ngClass]="estadoTeclas[tecla]" (click)="agregarLetra(tecla)">
                {{ tecla }}
            </button>
        </div>
    </div>
</div>
