.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Ajusta el contenedor a la altura de la ventana */
    background: linear-gradient(to right, #02182f, #03a5aa, #00c25f, #03a5aa, #02182f);
    padding: 2rem;
    box-sizing: border-box;
    overflow: hidden;
}

.imagen {
    display: flex;
    flex-direction: row;
    align-items: end;
    height: 10rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.imagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

h1 {
    color: white;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.custom-form2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(255, 255, 255);
    border: 1px solid #d9d9d9;
    border-radius: 2.5rem;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
}

.custom-form2 h1 {
    margin-top: 0;
    color: #02182f;
    text-align: center;
    margin-bottom: 0.5rem;
}

.custom-form2 input {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background: #ebf5fc;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.custom-form2 button {
    text-transform: uppercase;
    letter-spacing: 0.15em;
    border: none;
    font-size: 0.875rem;
    color: #ffffff;
    font-weight: bold;
    width: 100%;
    padding: 0.875rem 1rem;
    border-radius: 1.5rem;
    cursor: not-allowed;
    background-color: #bcd8c1;
    margin-top: 1rem;
}

.custom-form2 button.enabled {
    cursor: pointer;
    background-color: #0c918e;
}

.register p {
    margin-top: 0.5rem;
    color: white;
    text-align: center;
    margin-top: 1.5rem;
    cursor: pointer;
}

.pass {
    width: 100%;
    position: relative;
}

.pass input {
    width: 100%;
    padding-right: 30px;
    box-sizing: border-box;
}

.password-eye {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    z-index: 9;
}