<div class="login">
  <div class="imagen">
    <img src="../../assets/logo1.png" alt="Descripción de la imagen">
  </div>
  <h1>WordPlay</h1>
  <div class="formulario">
  <form class="custom-form" (ngSubmit)="login()" #loginForm="ngForm">
    <h1>Login</h1>
    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
      (ngModelChange)="isFormValid = checkFormValidity()"
    />
    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Password"
      required
      (ngModelChange)="isFormValid = checkFormValidity()"
    />
    <button type="submit" [disabled]="!isFormValid" [class.enabled]="isFormValid">Login</button>
  </form>
  <p  routerLink="/register">No tienes cuenta? Registrate!</p>
</div>
</div>
